

<!-- <div class="col-md-8">
	<li ng-repeat="product in productsCtrl.products">
		<a><span ng-bind="product.product_name" ng-click="productsCtrl.show(product)"></span></a>
		<button class="btn btn-primary" role="button" ng-click="productsCtrl.remove(product)">Remove Product</button>
	</li>
</div> -->
<br>
<br>
<br>
<button class="btn btn-danger" role="button" id="myBtn"><span class="glyphicon glyphicon-plus"></button>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p><div class="col-md-4">
            <h4>New Product</h4>
        <p> Name:</p>
        <p> <input placeholder ="name..."ng-model="productsCtrl.newProduct.product_name" require></p>
        <p> Image (url): </p>
        <p> <input placeholder ="http://"ng-model="productsCtrl.newProduct.img_url" require></p>
        <p> Description: </p>
        <p> <textarea ng-model="productsCtrl.newProduct.description" maxlength="50" require></textarea></p>
        <p> Initial Quantity: </p>
        <p> <input type = "number" ng-model="productsCtrl.newProduct.quantity" require></p>
        <button class="btn btn-success" role="button" ng-click="productsCtrl.add(productsCtrl.newProduct)">Add Product</button>
    </div></p>
    </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<br>
<br>

<div class="row">
  <div ng-repeat="product in productsCtrl.products" class="col-sm-3">
    <div class="thumbnail">
      <img style="height: 120px; width: 120px" ng-src="{{product.img_url}}" alt="Product Image">
      <div class="caption">
        <h3 ng-bind="product.product_name"></h3>
        <p ng-bind = "product.description"></p>
        <p>Quantity Remaining: <span ng-bind="product.quantity"></span></p>
        <button ng-click="productsCtrl.show(product)"class="btn btn-info" role="button"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-danger" role="button" ng-click="productsCtrl.remove(product)"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>
  </div>
</div>
