<br>
<div class="col-md-8">
<input ng-model="usersCtrl.newUser.first_name" require>
<button class="btn btn-success" role="button" ng-click="usersCtrl.add(usersCtrl.newUser)">Add User</button>
<h5 style="color: red;" class="error hide">User already exists</h5>

<!-- <p class="pull-right">Search for user: <input type="text" ng-model="usersCtrl.users.user_filter" placeholder="filter..." class="pull-right"></p><br>
<li ng-repeat="user in usersCtrl.users | filter:usersCtrl.users.user_filter">
	<span ng-bind="user.first_name" ng-click="usersCtrl.show(user)"></span>
	<button ng-click="usersCtrl.remove(user)">Remove User</button>
</li> -->
    <script src="node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script>
        function sweetalertclick1(){
            swal("Delete Successfull!", "", "success");
        }
    </script>
<br><br>
<p class="pull-right">Find Customer: <input type="text" ng-model="usersCtrl.users.user_filter" placeholder="filter..."></p><br><br>
<table class = "table; bg-success" style="width: 900px">

    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Date Joined</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in usersCtrl.users | filter:usersCtrl.users.user_filter">
        <td><span ng-bind="user.first_name"></span></td>
        <td><span ng-bind="user.created_at | date: 'MMMM d yyyy'"></span></td>
        <td><button class="btn btn-info" role="button" ng-click="usersCtrl.show(user)">Edit User</button></td>
        <td><button onclick="sweetalertclick1()" class="btn btn-danger" role="button"ng-click="usersCtrl.remove(user)">Delete User</button></td>
        </tr>
    </tbody>
</table>
<div>